
    <div class="modal-header">
        <span class="pull-right"><img ng-click="cancel()" src="images/icons/ic_close.png" alt="close window"> </span>
        <div back-img="images/index/{{bannerimg}}" style="border-bottom-left-radius: 5%; border-bottom-right-radius: 5%;">
			<span style="font-size: 1.5em; color: greenyellow;">{{movie.name}}</span>
			<div>
				<span style="color: white">{{movie.episodes}} Episodes</span>&nbsp;&nbsp;
				<span style="color: white">{{movie.rating}}</span>&nbsp;&nbsp;
				<span style="color: white">{{movie.year}}</span>
			</div>	
		</div>
    </div>
    <div class="modal-body">
        <span>{{movie.descr}}</span>
		<div class="listepisodes">
			<div ng-repeat="item in episodes">
				<div class="episoderow">
					<div class="col-30" style="position: relative; left: 0; top: 0;">
						<a href="#"><img style="position: relative; top: 0; left: 0;" class="promoimg" ng-src="images/episodes/{{item.img}}" alt="episode image"></a>
						<img style="position: absolute; top: 15px; left: 70px;" ng-src="images/icons/ic_play.png">
					</div>
					<div class="col-70">
						<div class="episodeinfo">
							<div class="episodename">
								<span>{{item.name}}</span>
							</div>
							<span class="pull-right" ng-show="down" ng-click="down = false"><img src="images/icons/ic_drop_down.png" alt="down arrow"></span>
							<span class="pull-right" ng-show="!down" ng-click="down = true"><img src="images/icons/ic_drop_down.png" alt="up arrow"></span>

							<div class="episoderun">
								<span class="col-30">{{item.name}}</span>
								<span class="col-30">{{item.time}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="episodedescr" ng-show="!down">
					<span>{{item.descr}}</span>
				</div>
			</div>
		</div>	
    </div>
